/*CSS Reset from https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    /*Paddings and margins are considered in the max-size*/
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    min-height: 100svh;
    /*For browsers that support this unity*/
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    /*Default = 1.2*/
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article>*+* {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
/*
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
*/

main,
header,
nav,
footer {}

body {
    text-align: center;
    color: rgb(33, 33, 33);
    padding: 15px;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

h1 {
    font-size: 2rem;
    padding: 15px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

section {
    max-width: calc(50% - 10px);
    flex-basis: calc(50% - 10px);
}

.container {
    border-radius: 10px;
    position: relative;
    width: 100%;
    max-width: 100%;
    min-width: 200px;
    overflow: hidden;
    border: 2px solid rgba(77, 77, 77, 0.777);
}

.container img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

#my-vertical-img {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: inset(0 50% 0 0);
}

#my-horizontal-img {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: inset(50% 0 0 0);
}

input[type="range"] {
    position: absolute;
    top: -17px;
    left: -17px;
    width: calc(100% + 31px);
    height: calc(100% + 31px);
    -webkit-appearance: none;
    appearance: none;
    background: none;
}

#vertical-slider {}

/*Poignée pour Chrome, Opera, Safari, Edge */
#vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 31px;
    height: 31px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: url('assets/images/double-arrow_horizontal_30.png');
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

/*Poignée pour Firefox*/
#vertical-slider::-moz-range-thumb {
    width: 31px;
    height: 31px;
    border: 1px solid black;
    border-radius: 20px;
    background: url('assets/images/double-arrow_horizontal_30.png');
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

#horizontal-slider {
    writing-mode: vertical-lr;
    direction: rtl;
}

/*Poignée pour Chrome, Opera, Safari, Edge */
#horizontal-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 31px;
    height: 31px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: url('assets/images/double-arrow_vertical_30.png');
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

/*Poignée pour Firefox*/
#horizontal-slider::-moz-range-thumb {
    width: 31px;
    height: 31px;
    border: 1px solid black;
    border-radius: 20px;
    background: url('assets/images/double-arrow_vertical_30.png');
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

footer {
    display: none;
}

button {
    margin: 40px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #333333;
    color: #fff;
}

button:hover {
    background-color: #474747;
    cursor: pointer;
}